In [1]:
import numpy as np
import pandas as pd

from Generate_Data_Functions import generate_poker_dataset

In [2]:
column_names = ['S1', 'C1', 'S2', 'C2', 'S3', 'C3', 'S4', 'C4', 'S5', 'C5', 'Poker Hand']
train = pd.read_csv('../data/raw_data/poker-hand-training-true.data', names=column_names)

In [3]:
train['Poker Hand'].value_counts()

0    12493
1    10599
2     1206
3      513
4       93
5       54
6       36
7        6
8        5
9        5
Name: Poker Hand, dtype: int64

In [4]:
train.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  Poker Hand
0   1  10   1  11   1  13   1  12   1   1           9
1   2  11   2  13   2  10   2  12   2   1           9
2   3  12   3  11   3  13   3  10   3   1           9
3   4  10   4  11   4   1   4  13   4  12           9
4   4   1   4  13   4  12   4  11   4  10           9

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25010 entries, 0 to 25009
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   S1          25010 non-null  int64
 1   C1          25010 non-null  int64
 2   S2          25010 non-null  int64
 3   C2          25010 non-null  int64
 4   S3          25010 non-null  int64
 5   C3          25010 non-null  int64
 6   S4          25010 non-null  int64
 7   C4          25010 non-null  int64
 8   S5          25010 non-null  int64
 9   C5          25010 non-null  int64
 10  Poker Hand  25010 non-null  int64
dtypes: int64(11)
memory usage: 2.1 MB

In [6]:
size = 11000
df = generate_poker_dataset(train, size)

duplicates_check = len(df) - len(df.drop_duplicates())

print(f'The new poker dataset has {duplicates_check} duplicate rows.\n')
print(df['Poker Hand'].value_counts())

The new poker dataset has 0 duplicate rows.

0    12493
2    11000
3    11000
4    11000
5    11000
6    11000
7    11000
1    10597
8     4320
9      480
Name: Poker Hand, dtype: int64

In [7]:
df.head(20)

   S1  C1 S2  C2 S3  C3 S4  C4 S5  C5 Poker Hand
0   2   7  1   6  1   9  1   5  1   8          4
1   4   9  3  10  1   7  4  11  2   8          4
2   3  11  4  12  4   8  2   9  4  10          4
3   2   8  4   9  1   6  1  10  3   7          4
4   2   5  2   9  3  12  1   6  4   1          0
5   3  13  1  13  4  13  1   2  3   2          6
6   2  13  4   7  2  10  1  12  4   1          0
7   2  10  4   7  3  10  1   7  2   7          6
8   2   5  3   8  1   9  3   6  3   7          4
9   1   3  3   3  2   5  1   5  1   4          2
10  4   5  4  13  4   7  4   6  4   8          5
11  3  10  3   1  3  11  3  12  3  13          9
12  2   2  1   1  4   2  1   2  3   2          7
13  3   5  4   7  3   7  4   5  1   1          2
14  4   5  3   3  2  13  3   5  1  13          2
15  2   1  1   1  3  10  4   1  1  10          6
16  1   4  3   7  1   5  2   6  4   8          4
17  3   7  4   7  4   6  2   7  1   7          7
18  1   5  3   5  1   2  1   6  2   5          3
19  4  13  2   4  3  12  3   5  1   6          0

In [8]:
df.to_csv('../data/generated_data/new_train_set.csv', index=False)

In [9]:
test = pd.read_csv('../data/raw_data/poker-hand-testing.data', names=['S1', 'C1', 'S2', 'C2', 'S3', 'C3', 'S4', 'C4', 'S5', 'C5', 'Poker Hand'])
test.head(10)

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  Poker Hand
0   1   1   1  13   2   4   2   3   1  12           0
1   3  12   3   2   3  11   4   5   2   5           1
2   1   9   4   6   1   4   3   2   3   9           1
3   1   4   3  13   2  13   2   1   3   6           1
4   3  10   2   7   1   2   2  11   4   9           0
5   1   3   4   5   3   4   1  12   4   6           0
6   2   6   4  11   2   3   4   9   1   7           0
7   3   2   4   9   3   7   4   3   4   5           0
8   4   4   3  13   1   8   3   9   3  10           0
9   1   9   3   8   4   4   1   7   3   5           0

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 11 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   S1          1000000 non-null  int64
 1   C1          1000000 non-null  int64
 2   S2          1000000 non-null  int64
 3   C2          1000000 non-null  int64
 4   S3          1000000 non-null  int64
 5   C3          1000000 non-null  int64
 6   S4          1000000 non-null  int64
 7   C4          1000000 non-null  int64
 8   S5          1000000 non-null  int64
 9   C5          1000000 non-null  int64
 10  Poker Hand  1000000 non-null  int64
dtypes: int64(11)
memory usage: 83.9 MB

In [11]:
test['Poker Hand'].value_counts()

0    501209
1    422498
2     47622
3     21121
4      3885
5      1996
6      1424
7       230
8        12
9         3
Name: Poker Hand, dtype: int64

In [12]:
test_size = 20000

df_test = generate_poker_dataset(test, test_size)
df_test = df_test.drop_duplicates()
print(df_test['Poker Hand'].value_counts())

0    500137
1    421610
2     20000
3     20000
4     20000
5     20000
6     20000
7     20000
8      4320
9       480
Name: Poker Hand, dtype: int64

In [13]:
df_test.head(10)

  S1  C1 S2  C2 S3  C3 S4  C4 S5  C5 Poker Hand
0  3   4  1  13  1  11  2  12  1  12          1
1  1  11  2  11  4   8  1   4  1   9          1
2  1  13  1   6  2  13  3  12  3   4          1
3  4   5  4   7  4   2  1   8  1  13          0
4  2   1  3  11  3  13  4   3  4   1          1
5  3  11  1   1  3   7  4   6  1   3          0
6  3   7  1   2  4   6  3  12  2   2          1
7  1   9  3   5  3  11  1   5  3   4          1
8  3   9  3   7  3  12  1  10  1   5          0
9  3  12  2   3  1  10  2  11  4  13          0

In [14]:
df_test.to_csv('../data/generated_data/new_test_set.csv', index=False)